* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment {
    width: 50%;
    color: teal;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 900;
    text-align: center;
    font-size: 26px;
}

#entered {
    background-color: gold;
}

#enter {
    background-color: red;
}

#will-enter {
    background-color: blue;
}